.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--bg-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--main-bg-color);
}

.decorated-zone {
  position: relative;
}

.header, .footer {
  min-block-size: 668px;
  block-size: 100vh;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-block-start: var(--padding-gap);
  inset-inline-end: var(--padding-gap);
  width: 25px;
  height: 25px;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: var(--nav-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-block-end: var(--padding-gap);
  inset-inline-start: var(--padding-gap);
  width: 25px;
  height: 25px;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: var(--nav-color);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  padding: var(--padding-gap);
  margin-block-end: 30px;
}

.header__rec {
  position: absolute;
  inset-inline-end: 38px;
  inset-block-start: var(--main-gap);
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: 1.3;
  color: var(--nav-color);
  text-transform: uppercase;
}

.header__rec::after {
  content: ""; 
  position: absolute;
  inset-inline-end: -19px;
  inset-block-start: 8px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--nav-color);
  box-shadow: 0px 0px 4px 2px var(--nav-color);  
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 0px 13px;
  color: var(--nav-color);
  background-color: transparent;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  cursor: pointer
}

.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
} 

.header__theme-menu-button:focus {
  outline: none;
} 

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.logo {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: var(--logo-size);
  line-height: 82.5%;
  color: var(--logo-color);
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header__text {
  max-inline-size: 355px;
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: 1.3;
  color: var(--main-heading-color);
}

.content {
  display: grid;
  gap: var(--section-gap);
  padding: var(--padding-gap);
}

.content-section {
  display: grid;
  gap: var(--section-heading-gap);
}

.content-section__blocks {
  display: grid;
  gap: var(--section-blocks-gap);
}

.content-section__block {
  display: flex;
  flex-direction: column;
  gap: var(--main-gap);
}

.content-section__title {
  color: var(--section-heading-color);
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: var(--main-text-size);
  line-height: 1.3;
}

.block__title, .block__text {
  font-family: var(--main-font-family);
  font-style: normal;  
  font-size: var(--main-text-size);
  line-height: 1.3;
}

.block__title {
  color: var(--main-heading-color);
  font-weight: 700;
}

.anchor {
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}

.anchor:hover {
  border-bottom: 1px solid var(--main-text-color) ;
}

.anchor:focus {
  outline: none;
}

.anchor:focus-visible {
  border: 1px solid var(--main-text-color);
}

.block__text {
  color: var(--main-text-color);  
  font-weight: 400;
}

.block__subtitle {
  color: var(--main-heading-color);
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: var(--main-text-size);
  line-height: 1.3;
}

.gallery-section__title {
  margin-block-end: 10px;
  color: var(--main-heading-color);
  font-weight: 700;
  font-family: var(--main-font-family);
  font-style: normal;
  font-size: var(--main-text-size);
  line-height: 1.3;  
}

.gallery-section__list {
  display: grid;
  gap: 10px;
}

.list__element {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  margin-block-start: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-decor {
  background-color: var(--accent-color);
}


@media (width >= 768px) {
  .header {        
    margin-block-end: 40px;   
    padding: var(--padding-gap);
  }

  .header__rec {
    inset-block-start: calc(var(--main-gap) + 10px) ;
    inset-inline-end: 48px;
  }

  .header__title {
    position: relative;
    justify-self: start;
    inset-inline-end: 20px; 
  }

  .header__text {
    max-inline-size: 364px;
  }

  .header, .footer {
    min-block-size: 1024px;
  }
 
  .content {
    padding: var(--padding-gap);
  }

  .content-section {
    grid-template-columns: 1fr 2fr;
  }

  .content-section__title {
    max-inline-size: 236px;
  }

  main .how {
    display: flex;
    flex-direction: column;
  }

  .gallery-section__title {
    margin-block-end: 20px; 
  }

  .gallery-section__list {
    grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street"
    ;
    gap: 20px;
  }

  .list__element:nth-child(1) {
    grid-area: sunset;
  }

  .list__element:nth-child(2) {
    grid-area: ice-cream;
    grid-row: span 2;
  }

  .list__element:nth-child(3) {
    grid-area: tape;    
  }

  .list__element:nth-child(4) {
    grid-area: books;    
  }

  .list__element:nth-child(5) {
    grid-area: street;    
  }

  .footer {
    margin-block-start: 40px;
  }
}

@media (width >= 1024px) {
  .header {
    justify-items: center;
    align-items: start;
  }

  .header, .footer {
    min-block-size: 768px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__text {
    max-inline-size: 491px;
    align-self: center;
    justify-self: end;
  }

  .content-section__title {
    max-inline-size: 314.96px;
  }

  .how {
    .content-section__blocks{
      display: grid;
      grid-template-columns: repeat(3, 1fr);      
    }
  }
}