/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --padding-gap: 10px;
  --main-font-family: 'IBM Plex mono', 'Times New Roman';  
  --main-text-size: 18px;
  --main-bg-color: #000028;
  --main-text-color: #F1B2CE;  
  --main-heading-color: #000028;
  --main-gap: 10px;
  --section-heading-color: #FF0070;
  --section-heading-gap: 20px;
  --section-blocks-gap: 20px;
  --section-gap: 50px;    
  --accent-color: #FF0070;  
  --logo-color: #DB00FF;
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --nav-color: #FF0070;
  --bg-image: url("../images/cover-image-dark.png");
  --button-hover: #32312D66;
}

@media (width >= 768px) {
  :root {
    --padding-gap: 20px;
    --section-gap: 80px;
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}